<div class="min-h-screen flex flex-col bg-gray-100">
    <app-header></app-header>

    <div class="flex-grow w-full md:container md:mx-auto pt-16">
        <section class="container center mx-auto py-16">
            <div class="container center flex flex-col md:flex-row items-center justify-between gap-8">
                <!-- Sección de texto (Izquierda) -->
                <div class="w-full md:w-1/2 text-center md:text-left">
                    <h1 class="text-3xl font-bold mb-4">
                        Olvida los formularios y utiliza
                        <span class="text-orange-500">AI Agents</span>
                        para generar más leads calificados vía
                        <span class="text-green-500">WhatsApp</span> 
                    </h1>
                    <p class="mb-6">
                        Maximiza cada interacción con tus clientes, transformando conversaciones personalizadas y
                        automatizadas✨ en grandes oportunidades de venta.
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=50766617374&text=Hola%20quiero%20agendar%20una%20Demo%20con%20Atom"
                        class="inline-block bg-green-600 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-indigo-700 transition">
                        Asesoria personalizada
                    </a>
                </div>

                <div class="w-full md:w-1/2">
                    <div class="aspect-w-16 aspect-h-9 ">
                        <iframe height="315" class="w-full rounded-lg shadow-lg"
                            src="https://www.youtube.com/embed/jdGFDhylOo0?si=r80NWzoWtg-J5gXB"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <app-footer></app-footer>
</div>